/btvn_buoi1/buoi2_trenlop/nbproject/private/
/btvn_buoi1/buoi2_trenlop/build/
/btvn_buoi1/BTVN_buoi3/nbproject/private/
/btvn_buoi1/BTVN_buoi3/build/
/JavaApplication16/nbproject/private/
/Btvn_buoi2/nbproject/private/
/Btvn_buoi2/build/
/BTVN_buoi5/build/